# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
android/.gradle/
android/app/*.keystore

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/Flutter/ephemeral/

# Windows / Linux build outputs
windows/build/
linux/build/

# IDE
.idea/
.vscode/
*.iml

# Optional: Firebase (if you don't want them public)
# android/app/google-services.json
# lib/firebase_options.dart